In [4]:
import pandas as pd
import numpy as np

In [32]:
data=pd.read_csv('C:/Users/Aditya/Desktop/Song Recommender/data.csv')
data.head()

,Song-Name,Singer/Artists,Genre,Album/Movie,User-Rating
1,Aankh Marey,"Kumar Sanu, Mika Singh, Neha Kakkar",BollywoodDance,Simmba,8.8/10
2,Coca Cola,"Neha Kakkar, Tony Kakkar",BollywoodDanceRomantic,Luka Chuppi,9.0/10
3,Apna Time Aayega,Ranveer Singh,BollywoodDance,Gully Boy,9.7/10
4,Mungda,"Jyotica Tangri, Shaan, Subhro Ganguly",BollywoodDance,Total Dhamaal,9.1/10
5,Tere Bin,"Asees Kaur, Rahat Fateh Ali Khan, Tanishk Bagchi",BollywoodRomantic,Simmba,9.2/10

In [9]:
data=data.sort_values(by='User-Rating', ascending=False)
data.head()

,Song-Name,Singer/Artists,Genre,Album/Movie,User-Rating
125,Ishq Di Baajiyan,Diljit Dosanjh,BollywoodRomantic,Soorma,9.9/10
159,Soorma Anthem,Shankar Mahadevan,BollywoodMotivational,Soorma,9.9/10
2294,Rang De,"Shankar Mahadevan, Suraj Jagan",BollywoodMotivational,My Name is Khan,9.8/10
555,Ishq Bulaava,Sanam Puri,BollywoodRomantic,Hasee Toh Phasee,9.8/10
2186,Tere Ishq Ka Suroor,"Aaman Trikha, Akshata Dixit",BollywoodRomantic,Single,9.8/10

In [41]:
user_input=input('Enter Your Favourite Song: ')

Enter Your Favourite Song: Rang De

In [42]:
song=data[data['Song-Name']==user_input]
song

,Song-Name,Singer/Artists,Genre,Album/Movie,User-Rating
2294,Rang De,"Shankar Mahadevan, Suraj Jagan",BollywoodMotivational,My Name is Khan,9.8/10

In [43]:
Genre=song['Genre']
Genre=str(Genre)
i=0
while(not Genre[i].isalpha()):
    i=i+1
Genre=Genre[i:]
i=0
while(not Genre[i]== '\n'):
    i=i+1
Genre=Genre[0:i]
Genre

'BollywoodMotivational'

In [44]:
Recommended=data[data['Genre']==Genre]

Recommended.head()

,Song-Name,Singer/Artists,Genre,Album/Movie,User-Rating
78,Kar Har Maidaan Fateh,"Shreya Ghoshal, Sukhwinder Singh",BollywoodMotivational,Sanju,9.5/10
159,Soorma Anthem,Shankar Mahadevan,BollywoodMotivational,Soorma,9.9/10
224,Sultan Title Song,"Shadaab Faridi, Sukhwinder Singh",BollywoodMotivational,Sultan,8.9/10
378,Dangal,Daler Mehndi,BollywoodMotivational,Dangal,9.1/10
435,Raazi Title Track,Arijit Singh,BollywoodMotivational,Raazi,9.4/10

In [45]:
print('Recommended Songs:')
Recommended['Song-Name']

Recommended Songs:

78                            Kar Har Maidaan Fateh
159                                   Soorma Anthem
224                               Sultan Title Song
378                                          Dangal
435                               Raazi Title Track
461                               Raj Karega Khalsa
663                                    Chak Lein De
684                                       Ziddi Dil
943                                    Rajj Rajj Ke
1005                                       Daata Tu
1317                                      Aashayein
1571                                Jiska Koi Nahin
1616                               Kehkasha Tu Meri
1945                                      Ali Maula
1997    Insaaf Ki Dagar Pe Bachchon Dikhaao Chal Ke
2051                                   Noor E Khuda
2118                                         Mirzya
2294                                        Rang De
2325              Mirza Se Darre Khuda Daler Mehndi
Name: Song-Name, dtype: object