In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
data=pd.read_csv('C:/Users/Aditya/Desktop/Song Recommender/data.csv')
data.head()

,Song-Name,Singer/Artists,Genre,Album/Movie,User-Rating
1,Aankh Marey,"Kumar Sanu, Mika Singh, Neha Kakkar",BollywoodDance,Simmba,8.8/10
2,Coca Cola,"Neha Kakkar, Tony Kakkar",BollywoodDanceRomantic,Luka Chuppi,9.0/10
3,Apna Time Aayega,Ranveer Singh,BollywoodDance,Gully Boy,9.7/10
4,Mungda,"Jyotica Tangri, Shaan, Subhro Ganguly",BollywoodDance,Total Dhamaal,9.1/10
5,Tere Bin,"Asees Kaur, Rahat Fateh Ali Khan, Tanishk Bagchi",BollywoodRomantic,Simmba,9.2/10

In [9]:
user_input=input('Enter Your Favourite Song: ')

Enter Your Favourite Song: Aankh Marey

In [12]:
song=data[data['Song-Name']==user_input]
song

,Song-Name,Singer/Artists,Genre,Album/Movie,User-Rating
1,Aankh Marey,"Kumar Sanu, Mika Singh, Neha Kakkar",BollywoodDance,Simmba,8.8/10

In [29]:
Genre=song['Genre']
Genre=str(Genre)
i=0
while(not Genre[i].isalpha()):
    i=i+1
Genre=Genre[i:]
i=0
while(not Genre[i]== '\n'):
    i=i+1
Genre=Genre[0:i]
Genre

'BollywoodDance'

In [34]:
Recommended=data[data['Genre']==Genre]
Recommended.head()

,Song-Name,Singer/Artists,Genre,Album/Movie,User-Rating
1,Aankh Marey,"Kumar Sanu, Mika Singh, Neha Kakkar",BollywoodDance,Simmba,8.8/10
3,Apna Time Aayega,Ranveer Singh,BollywoodDance,Gully Boy,9.7/10
4,Mungda,"Jyotica Tangri, Shaan, Subhro Ganguly",BollywoodDance,Total Dhamaal,9.1/10
6,Gali Gali,Neha Kakkar,BollywoodDance,KGF,9.1/10
7,Chamma Chamma,"Arun, Ikka, Neha Kakkar, Romy",BollywoodDance,Fraud Saiyaan,9.2/10

In [35]:
print('Recommended Songs:')
Recommended['Song-Name']

Recommended Songs:

1                              Aankh Marey
3                         Apna Time Aayega
4                                   Mungda
6                                Gali Gali
7                            Chamma Chamma
                       ...
2416                Jana Tumhare Pyar Mein
2417               Tum Jaise Bigde Babu Se
2418                O Yaad Nahi Bhool Gaya
2419     Ladi Re Ladi Tujhse Aankh Jo Ladi
2420    Mummy Aur Daddy Mein Ladai Ho Gayi
Name: Song-Name, Length: 1228, dtype: object